@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&family=Source+Code+Pro:wght@300&display=swap');
*{
	scroll-behavior:smooth;
	text-align:center;
	font-family: 'Rubik', sans-serif;
}
body{
	padding:0 0.1rem;
	background: linear-gradient(to right, black , silver);
}
.Bar{
	position:fixed;
	display:block;
	box-sizing:border-box;
	top:0;
	left:0;
	background:black;
	width:100vw;
	text-align:center;
	color:white;
	padding:2%;
	cursor:crosshair;
    box-shadow: 0 5px 5px 0 rgba(55, 55, 55, .7);
    z-index:10;
    font-family:righteous;
    transition:0.1s ease-out;
    transition-timing-function:;
}
header.small{
	position:absolute;
	top:-100%;
}
.Bar::after{
    content: "";
    position:absolute;
    left:45%;
    bottom:-1rem;
    width:0;
    height:0;
    border-left:1rem solid transparent;
    border-right:1rem solid transparent;
    border-top:1rem solid black;
    text-align:center;
}
.Bar img{
	float:left;
	position:relative;
}
.container{
	display:block;
	margin:1.5rem 0.2rem;
	background:linear-gradient(to right, lightgreen, white);
	padding:4% 5%;
	border-radius:20px;
	color:black;
	text-align:center;
}
.container-footer{
	display:block;
	background: rgba(9999,9999,9999,.5);
	padding:4% 7%;
	font-size:15pt;
	color:black;
	text-align:center;
	letter-spacing:7px;
	width:100%;
	box-sizing:border-box;
	border-radius:20px;	
}
.btn-classic{
	display:block;
	background:black;
	color:white;
	margin:0.1rem 0.3rem;
	width:95%;
	text-align:center;
	outline:none;
	border-radius:20px;
	padding:1.2vh 0;
	font-size:13pt;
	text-decoration:none;
	cursor:pointer;
	border:0.1px solid white;
	transition:0.3s;
}
.btn-classic:hover{
	background:white;
	color:black;
	-webkit-tap-highlight-color: transparent;
	border:0.1px solid black;
}
.btn-img{
	display:block;
	background:black;
	color:white;
	margin:1rem 0.3rem;
	width:95%;
	text-align:center;
	outline:none;
	border-radius:20px;
	padding:1.2vh 0;
	font-size:13pt;
	text-decoration:none;
	cursor:pointer;
	border:0.1px solid white;
	transition:0.3s;
}
.btn-img:hover{
	background:white;
	color:black;
	-webkit-tap-highlight-color: transparent;
	border:0.1px solid black;
}
.btn-img img{
	position:relative;
	float:left;
	margin-left:2%;
	cursor:help;
	height:3.5vh;
}
.btn-circle{
	height:2vh;
	width:4vw;
	border-radius:50%;
	background:black;
	color:white;
	padding:5%;
	position:fixed;
	top:90%;
	left:80%;
	z-index:10;
	box-shadow:0 0 5px white;
	transform:rotate(180deg);
}
.embed{
	margin:0 0.1rem;
	cursor:pointer;
}.copyright{
	font-size:8pt;
	letter-spacing:1px;
	font-family: 'Source Code Pro', monospace;
}
a{color:black;}
a:hover{-webkit-tap-highlight-color: transparent;}
.groupNft{
	height:40vh;
	width:90vw;
	background:black;
	border-radius:20px;
	cursor:progress;
}
.NftCollection{
	display:flex;
	padding:4% 1%;
	text-align:center;
	flex-wrap:wrap;
	margin:1rem 5rem;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	width:55vw;
}
.NftCollection img{
	height:12vh;
	width:25vw;
	border-radius:50%;
	display:block;
	margin:1rem 0.2rem;
	margin-bottom:1vh;
	
}
.NftCollection-grid{
	display:flex;
	flex-wrap:wrap;
	margin:1rem 1.5rem;
	justify-content:center;
	align-items:center;
	height:40vh;
	width:81.1vw;
	overflow:hidden;
}
.NftCollection-grid img{
	height:20vh;
	width:40vw;
	display:block;
	transition: 0.3s all ease-in-out;
	position:relative;
	border:0.5px solid white;
	z-index:2;
	cursor:crosshair;
}
.NftCollection-grid img:hover{
	transform:scale(1.1);
	filter:brightness(50%);
	z-index:1;
}
.container-preloader {
	display:block;
	position:fixed;
	height:100vh;
	width:100vw;
	color:white;
	overflow:hidden;
	margin:0;
	padding:15rem 5rem;
	background:black;
	box-sizing:border-box;
	top:0;
	left:0;
	z-index:200;
	font-size:0.8rem;
}
.container-preloader .loader {
	display:block;
	height:20vh;
	width:40vw;
	margin:0 auto;
	border-radius:50%;
	background:;
}
.container-preloader .loader .spinner {
	display:inline-block;
	height:11vh;
	width:20vw;
	border-radius:50%;
	border-right:10px solid green;
	animation:spin 2.5s ease infinite;
	transition:0.5s linear;
	cursor:progress;
}
@keyframes spin{
	0%{}
	25%{border:; border-bottom:5px solid skyblue; }
	50%{border:; border-left:5px solid orange;}
	75%{border:; border-top:5px solid red;}
	100%{transform:rotate(360deg);
		border:none;
		border-right:5px solid green;
		background:;}
}
.container-preloader .loader .spinner.done {
	border-radius:0px;
	height:0;
	width:50vw;
	animation:none;
	border-bottom:5px solid skyblue;
	border-left:5px solid orange;
	border-top:5px solid red;
	border-right:5px solid green;
}